/.vscode
/releases
/data/config/config.test.yaml
/data/tmp
/data/memory
/src/__pycache__
/src/cache_src/__pycache__
/src/config_src/__pycache__
/src/tk_src/__pycache__
/src/.test/
/logs/*
/data/cache/responses/*
/data/cache/history/*
/audio/.originals
/data/config/toolkits
/my_stuff
/doc/reading-config.md